<!DOCTYPE html>
<html lang="pt-BR">
<head>
  @include('../components/resources.html')
  <title>{{ name }}</title>
</head>
<body>
  @include('../components/header.html')

  <h1>{{ name }}</h1>

  @include('../components/footer.html')
  @include('../components/common-scripts.html')
</body>
</html>